* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    border: 0;
}
:root {
    --maincolor : hsl(228, 12%, 48%);
    --secondcolor : hsl(158, 36%, 37%);
}

body {
    background-color: hsl(30, 38%, 92%);
}
main {
    margin: 50% auto;
    width: 500px;
    display: grid;
    grid-template-columns: 250px 250px ;
    background-color: white;
   border-radius: 16px;
}

@media (max-width: 375px) {
    main {
        width: 330px;
        grid-template-columns: 330px;
        grid-template-rows: 1fr 1.5fr;
        grid-auto-flow: column;

      }
}

.image {
    overflow: hidden;
    border-radius: 16px 0 0 16px;
}



img {
    width: 100%;
    height: 100%;
} 



@media (max-width: 375px) {

    .image {
        border-radius: 15px 15px 0 0;
        width: 100%;
    }

.image img{
    content: url(images/image-product-mobile.jpg);

}


}

.card {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding: 20px;
}

p {
    color: var(--maincolor);
    font-size: 14px;
    max-width: 195px;
    /* font-family: 'Fraunces', serif; */
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 375px) {
    .card p:nth-child(3) {
        min-width: 292px
    }
}
.card h2 {
    font-family: 'Fraunces', serif;
    font-size: 30px
}

.card p:nth-child(4) {
    color: var(--secondcolor);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Fraunces', serif;

}

p  sup {
text-decoration: line-through;
color: var(--maincolor);
font-size: 10px;
margin-left: 15px;
}

button {
    background-color: var(--secondcolor);
    width: 70%;
    height: 10%;
    border-radius: 15px;
    margin: auto;
}

button {
    background-color: var(--secondcolor);
    width: 100%;
    height: 14%;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: white;
}

button img {
    width: 10%;
    height: 50%;
    margin-right: 10px;
}

button:hover {
    background-color: hsl(212, 21%, 14%);
}
